%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

%% plugins
{project_plugins, [erlfmt]}.
{erlfmt, [
  write,
  {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{deps, [
  {jsone, "1.7.0"},
  {yamerl, "0.8.0"}
]}.

{shell, [{apps, [kuberlnetes]}]}.

%% profiles
{profiles, [
            {test, [{deps, [
                            {cowboy, "2.9.0"}
                           ]}]}
]}.
