%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

%% plugins
{plugins, [
  {gradualizer, {git, "https://github.com/josefs/Gradualizer", 
                      {branch, "master"
                      }}},
  rebar3_hex
]}.
{project_plugins, [erlfmt, rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{erlfmt, [
  write,
  {files, "{src,include,test}/*.{hrl,erl}"}
]}.

{deps, [
  {jsone, "1.7.0"},
  {yamerl, "0.8.0"},
  {gun, "2.0.0"}
]}.

{shell, [
         {apps, [kuberlnetes, sasl]},
         {config, "config/shell.config"}
        ]}.

%% profiles
{profiles, [
            {test, [{deps, [
                            {cowboy, "2.9.0"}
                           ]}]}
]}.
